body{
	background: linear-gradient(to bottom, #cc2b5e 0%, #753a88 100%);
	font-size: 24px;
	font-family: serif;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 0px;
	padding: 0px;
}

.info{
	background: linear-gradient(to bottom, #cc2b5e 0%, #753a88 100%);
}

header, .intro{
	/* border: 5px solid red; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-self: stretch;
	align-items: center;
	width: 100%;
}

ul{
	list-style-type: none;
	display: flex;
	gap: 30px;
}

a{
	text-decoration: none;
	color: white;
}

li > a{
	color: white;
	font-family: "Tilt Prism";
}

a:hover{
	color:red;
}

.main{
	background: url(../img/clouds-sky-anime-11.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-self: stretch;
	flex-flow: column wrap;
	align-items: space-between;
	justify-content: center;
}

.intro{
	width: 85%;
	margin: 2em auto 2em auto;
	height: 100vh;
	gap: 32px;
	border-radius: 1.5em;
	background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.intro-text{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 15px;
	padding: 0 8px;
	margin-left: 2em;
}

.intro-text > h1
{
	align-self: flex-start;
	margin-bottom: -16px;
	font-size: 72px;
}

.intro-text > p
{
	align-self: flex-start;
}

.intro-img > img
{
	align-self: stretch;
	width: 75%;
	height: 50%;
	/* overflow: hidden; */
}

.intro-img{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.intro-text > a {
	font-size: 26px;
	font-family: "Indie Flower";
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 33%;
	height: 50px;
	margin: 10px 0;
	border-radius: 25px;
	align-self: center;
	border: 5px solid gray;
	background: linear-gradient(to bottom, #cc0000 0%, #ff99cc 100%);
}

.intro-text > a:hover
{
	background: linear-gradient(to bottom, #0099ff 0%, #66ff66 100%);
	border: 5px solid red;
	border-radius: 35px;
}

.info{
	margin-top: 20px;
	padding: 64px;
	flex-flow: column wrap;
}
.info > h1
{
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
} 

.info-cons{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 20px;
}

.info-container{
	max-width: 200px;
	transition: ease-in .7s;
}
.info-container:hover {
    color: black;
}

.info-img > img{
	width:	200px;
	height: 200px;
	border: 3px solid white;
	border-radius: 25px;
}
.info-img
{
	transition: ease 0.1s;
}

.info-container > p{
	align-self: flex-start;
}

.quote{
	background: url("../img/LiamWong_AkihabaraRain_Tokyo_Japan.jpg") center center no-repeat fixed;
	background-size: cover;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 64px;
}


.quote > p:nth-child(1){
	width: 50%;
	font-style: italic;
	font-size: 35px;
	/* margin: 0; */
}

.quote >p:nth-child(2){
	font-size: 26px;
	font-weight: bold;
	align-self: flex-end;
	margin-right: 25%;
}

.quote > p {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
	color: white;
	border-radius: 5px;
}

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #cc2b5e 0%, #753a88 100%);
	height: 100%;
	padding: 50px;
}
.contact-container {
	display: flex;
	height: 100%;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 32px;
	padding: 36px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
}

.contact-text > p{
	margin: 0;
}

.contact-text > p:nth-child(1){
	font-size: 32px;
	font-weight: 600;
}

.contact-container > a{
	display: flex;
	justify-content: center;
	padding: 8px;
	background: linear-gradient(to bottom, #cc0000 0%, #ff99cc 100%);
	border-radius: 20px;
	min-width: 10%;
	height: 30px;
	border: 5px solid white;
}

.contact-container > a:hover
{
	color:black;
	background: linear-gradient(to bottom, #0099ff 0%, #66ff66 100%);
	border: 5px solid lightpink;
}

footer{
	padding-top: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: url(../img/clouds-sky-anime-11.jpg) no-repeat center center fixed;
	background-size: cover;
}

footer > p {
	font-size: 18px;
}